body{
    background-color: rgb(133, 120, 120);
    color: rgb(250, 250, 250);
}

h1{
    text-align: center;
}

.h2{
    margin-top: 39px;
}

#balkep{
    width: 200px;
    float: left;
    box-shadow: 4px 6px #1D1D4E;
    margin: 10px;

}

#jobbkep{
    width: 400px;
    float: right;
    box-shadow: 4px 6px #1D1D4E;
    margin: 10px;
}

 th, td{
    border: 1px solid #1D1D4E;
    padding: 1px;
    border-style: dotted;
}

table{   
    box-shadow: 4px 6px #1D1D4E;
    margin-bottom: 20px;
}

.fejsor{
    text-align: center;
    background-color:  #1D1D4E;   
}

hr{
    border: 1px solid #1D1D4E;
    width: 1300px;
}

td{
    font-style: bold;
    padding-left: 10px;
}

#elso{
    text-align: right;
    font-style: normal, ;
    font-weight: 900; 
}

.forras{
    text-align: center;
    font-style: oblique;
}